<!-- <p>
  menu-bar works!
</p> -->

<div class="searchBox">
      <mat-form-field class = "helpMe">
        <select matNativeControl required
                placeholder="Select an anime title">
        <option *ngFor="let anime of animeList">
          {{anime}} </option>
        </select>

    <button mat-raised-button matSuffix id="searchButton"
    color="basic"
    onclick="performSearch()">Search</button>
        </mat-form-field>
</div>
Filters (optional)

<div class="filters">
  <mat-slide-toggle matSuffix
    class="example-margin"
    [color]="color"
    [checked]="checked"
    [disabled]="disabled">
    Only TV results
  </mat-slide-toggle>
  <mat-slide-toggle matSuffix
    class="example-margin"
    [color]="color"
    [checked]="checked"
    [disabled]="disabled">
    Only completed results
  </mat-slide-toggle>
</div>
  <div class="filters">
  Only results with ratings higher than {{value}}
  <mat-slider id="score"
        class="example-margin"
        [invert]=false
        [max]=10
        [min]=0
        [step]=0.1
        [thumbLabel]=true
        [(ngModel)]="value">
    </mat-slider>

</div>
