<!-- <p>
  menu-bar works!
</p> -->

<div class="alert alert-danger" *ngIf="noResult">No Results Found</div>
<div class="searchBox">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Search anime titles" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="animeList">
        {{animeList}}
      </mat-option>
    </mat-autocomplete>
    <button mat-button matSuffix id="searchButton" color="basic" onclick="performSearch">Search</button>
    </mat-form-field>
</div>
Filters (optional)

<div class="filters">
  <mat-slide-toggle matSuffix
    class="example-margin"
    [color]="color"
    [checked]="checked"
    [disabled]="disabled">
    Only TV results
  </mat-slide-toggle>
  <mat-slide-toggle matSuffix
    class="example-margin"
    [color]="color"
    [checked]="checked"
    [disabled]="disabled">
    Only non-airing results
  </mat-slide-toggle>
  <mat-form-field id="score" class="example-half-width">
    <mat-label>no results below score:</mat-label>
    <input matInput placeholder="Default: 0">
    <mat-hint align="start"><strong>0-10</strong> </mat-hint>
  </mat-form-field>


</div>
