
/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@font-face { font-family: malfont; src: url('malfont.ttf'); }
h1 {
  color: #2623BA;
  font-family: malfont;
  font-size: 350%;
}
* {
  font-family: Arial, Verdana, sans-serif;
  font-size: 100%;
}
/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
